
.list-view .content {
  display: flex;
}

.list-view .contact-form {
  flex: 2;
  padding: 10px;
  }


.list-view .contact-grid {
  flex: 1;
}


@media all and (max-width: 1200px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}